\documentclass[<= config.fontSize =>,<= config.paperSize =>,sans]{moderncv}

% Banking style - clean and professional
\moderncvstyle{banking}
\moderncvcolor{<= config.color =>}
\usepackage[scale=0.9, top=1.5cm, bottom=1.5cm]{geometry}
\usepackage{pifont}
\setlength{\hintscolumnwidth}{2.5cm}

% Personal data
\name{<= personalData.name.first =>}{<= personalData.name.last =>}
\title{<= personalData.title =>}
\address{<= personalData.address.street =>}{<= personalData.address.city =>}{<= personalData.address.country =>}
<% if personalData.mobile %>
\mobile{<= personalData.mobile =>}
<% endif %>
<% if personalData.email %>
\email{<= personalData.email =>}
<% endif %>
<% if personalData.homepage %>
\homepage{<= personalData.homepage =>}
<% endif %>
<% if personalData.social and personalData.social.linkedin %>
\social[linkedin]{<= personalData.social.linkedin =>}
<% endif %>
<% if personalData.social and personalData.social.github %>
\social[github]{<= personalData.social.github =>}
<% endif %>
<% if personalData.quote %>
\quote{<= personalData.quote =>}
<% endif %>

\begin{document}
\makecvtitle

% Professional Summary (if quote exists, already shown)

\section{<= experience.name =>}
<% for job in experience.experience %>
\cventry{<= job.years =>}{<= job.position =>}{<= job.company =>}{<= job.location =>}{}{}
\begin{itemize}
<% for detail in job.details %>
\item <= detail.worksDone | tex =>
<% endfor %>
\end{itemize}
<% endfor %>

<% if education %>
\section{<= education.name =>}
<% for educationItem in education.education %>
\cventry{<= educationItem.years =>}{<= educationItem.title | tex =>}{<= educationItem.where | tex =>}{}{}{}
<% if educationItem.details.length > 0 %>
\begin{itemize}
<% for detail in educationItem.details %>
\item <= detail.whatYouhaveDoneOrLeant | tex =>
<% endfor %>
\end{itemize}
<% endif %>
<% endfor %>
<% endif %>

<% if skills %>
\section{<= skills.name =>}
<% for skillItem in skills.skills %>
\cvitem{\textbf{<= skillItem.skillName | tex =>}}{<= skillItem.listOfSkills.join(", ") | tex =>}
<% endfor %>
<% endif %>

<% if certifications %>
\section{<= certifications.name | tex =>}
<% for cert in certifications.certifications %>
\cvitem{<= cert.year =>}{\textbf{<= cert.name | tex =>} - <= cert.issuer | tex =><% if cert.credentialId %> (ID: <= cert.credentialId | tex =>)<% endif %>}
<% endfor %>
<% endif %>

<% if projects %>
\section{<= projects.name | tex =>}
<% for projectItem in projects.projects %>
\cvitem{\href{<= projectItem.githubLink =>}{\textbf{<= projectItem.projectName | tex =>}}}{<= projectItem.description | tex =>}
\cvitem{}{\textit{Technologies:} <= projectItem.techUsed | techUsedToString | tex =>}
<% endfor %>
<% endif %>

<% if awards %>
\section{<= awards.name | tex =>}
<% for award in awards.awards %>
\cvitem{<= award.year =>}{\textbf{<= award.title | tex =>} - <= award.issuer | tex =><% if award.description %> \\ <= award.description | tex =><% endif %>}
<% endfor %>
<% endif %>

<% if publications %>
\section{<= publications.name | tex =>}
<% for pub in publications.publications %>
\cvitem{<= pub.year =>}{\textbf{<= pub.title | tex =>} \\ <= pub.authors.join(", ") | tex => \\ \textit{<= pub.venue | tex =>}<% if pub.doi %> \\ DOI: <= pub.doi | tex =><% endif %>}
<% endfor %>
<% endif %>

<% if volunteer %>
\section{<= volunteer.name | tex =>}
<% for vol in volunteer.volunteer %>
\cventry{<= vol.years =>}{<= vol.role | tex =>}{<= vol.organization | tex =>}{<= vol.location =>}{}{<= vol.description | tex =>}
<% endfor %>
<% endif %>

<% if languages %>
\section{<= languages.name | tex =>}
<% for languageItem in languages.languages %>
\cvitem{\textbf{<= languageItem.languageName | tex =>}}{<= languageItem.proficiencyLevel | tex =>}
<% endfor %>
<% endif %>

\end{document}
